.album-div{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.map-card {
  text-align: center;
}